# Pandas read_csv, .loc, and .iloc
Duncan Callaway

My objective in this notebook is to teach people how to read files in Pandas and to access the information in a Pandas dataframe.

In [1]:
!ls

04.1 Merge-Groupby.pptx             Lecture 04.4 MergeGroupby.ipynb
CAISO_2017to2018.csv                dataframe_anatomy.png
CAISO_2017to2018_stack.csv          fruit_info.csv
Icon?                               heat_wave_data
Lecture 04.2 Pandas loc iloc.ipynb  ~$04.1 Merge-Groupby.pptx
Lecture 04.3 Logical Indexing.ipynb

In [9]:
file = open("CAISO_2017to2018.csv", "r")
print(file.read(999)) # just output the first 999 characters
file.close()

,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
2017-08-29 00:00:00,1181,340,156,324,1551,0,0
2017-08-29 01:00:00,1182,338,156,326,1556,0,0
2017-08-29 02:00:00,1183,337,156,337,1325,0,0
2017-08-29 03:00:00,1185,339,156,313,1158,0,0
2017-08-29 04:00:00,1190,344,156,320,1209,0,0
2017-08-29 05:00:00,1194,351,157,331,1209,0,0
2017-08-29 06:00:00,1196,359,155,382,1126,121,0
2017-08-29 07:00:00,1194,363,153,380,1164,2291,0
2017-08-29 08:00:00,1187,364,153,346,903,5854,66
2017-08-29 09:00:00,1189,367,157,356,711,7469,296
2017-08-29 10:00:00,1186,371,160,394,728,8317,449
2017-08-29 11:00:00,1180,377,164,417,709,8648,516
2017-08-29 12:00:00,1177,376,164,432,726,8499,527
2017-08-29 13:00:00,1175,375,163,458,823,8042,255
2017-08-29 14:00:00,1172,372,162,488,1100,6820,264
2017-08-29 15:00:00,1172,373,160,561,1467,5512,220
2017-08-29 16:00:00,1173,373,159,552,1941,5210,194
2017-08-29 17:00:00,1175,369,162,554,1430,4063,189
2017-08-29 18:00:00,1180,369,164,561,1562,1352,81

Now you can see that this is comma-separated. There is no entry in the first row/first position. First column is time / date. Other columns are MWhs of energy production (from documentation)

Now let's look at what `pandas` does with the file.

In [10]:
import pandas as pd

Let's load in the California ISO data we used last time

In [11]:
caiso_df = pd.read_csv('CAISO_2017to2018.csv')

In [12]:
caiso_df.head()

,Unnamed: 0,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
0,2017-08-29 00:00:00,1181,340,156,324,1551,0,0
1,2017-08-29 01:00:00,1182,338,156,326,1556,0,0
2,2017-08-29 02:00:00,1183,337,156,337,1325,0,0
3,2017-08-29 03:00:00,1185,339,156,313,1158,0,0
4,2017-08-29 04:00:00,1190,344,156,320,1209,0,0

### Remember:
Pandas dataframs are like dicts of lists. Column names are keys, each column is a list associated with the key.

### Q: where did pandas get the column names?
A: from the first line of the CSV. Notice that the first column has no name since that space in the csv was empty. 

### Q: How did pandas assign the index column?
A: just a numeric list. Note that you can read in the file with any column you choose as the index, if you wish.

### Q: What do you get if you call the dict of lists with a key?

In [14]:
caiso_df['BIOGAS']

0       156
1       156
2       156
3       156
4       156
       ...
8755    236
8756    234
8757    233
8758    234
8759    235
Name: BIOGAS, Length: 8760, dtype: int64

In [15]:
type(caiso_df['BIOGAS'])

pandas.core.series.Series

Ans: the list associated with the key.  This is called a pandas 'series'

### Q: Can you extract the first 5 entries of BIOGAS and SOLAR PV

In [17]:
caiso_df[['BIOGAS', 'SOLAR PV']][0:4]

   BIOGAS  SOLAR PV
0     156         0
1     156         0
2     156         0
3     156         0

Note that you need to put the column names in two sets of square brackets 
* the first set tells pandas you're passing a key / column name into the data frame, and 
* the second set of square brackets allows you to pass a *set* of column names.

### Q: Figure out how to get solar production at 2pm on August 29 2017

First let's check that we've got the right index for the time we want:

In [18]:
caiso_df['Unnamed: 0'][14]

'2017-08-29 14:00:00'

Now call the `SOLAR PV` column

In [19]:
caiso_df['SOLAR PV'][14]

6820

### Anatomy of the data frame.

Let's talk a little about the anatomy of the data frame.

<img src="dataframe_anatomy.png" width="800px" align="left" float="left"/>

We have the following important attributes:
1. Rows
2. Columns
2. Index
3. Column names

The "index" can be numeric, but as we'll see we can also make the indices strings.

In [20]:
caiso_df = pd.read_csv('CAISO_2017to2018.csv')
caiso_df.columns

Index(['Unnamed: 0', 'GEOTHERMAL', 'BIOMASS', 'BIOGAS', 'SMALL HYDRO',
       'WIND TOTAL', 'SOLAR PV', 'SOLAR THERMAL'],
      dtype='object')

Note that we can't reassign easily because column and index names lists are immutable.  Here is the workaround:

In [22]:
cols = caiso_df.columns.tolist()
cols[0] = 'Date and time'
caiso_df.columns = cols
caiso_df

,Date and time,GEOTHERMAL,BIOMASS,BIOGAS,SMALL HYDRO,WIND TOTAL,SOLAR PV,SOLAR THERMAL
0,2017-08-29 00:00:00,1181,340,156,324,1551,0,0
1,2017-08-29 01:00:00,1182,338,156,326,1556,0,0
2,2017-08-29 02:00:00,1183,337,156,337,1325,0,0
3,2017-08-29 03:00:00,1185,339,156,313,1158,0,0
4,2017-08-29 04:00:00,1190,344,156,320,1209,0,0
...,...,...,...,...,...,...,...,...
8755,2018-08-28 19:00:00,962,332,236,581,3300,70,24
8756,2018-08-28 20:00:00,967,336,234,547,3468,0,17
8757,2018-08-28 21:00:00,972,336,233,502,3310,0,17
8758,2018-08-28 22:00:00,975,333,234,361,3068,0,0
8759,2018-08-28 23:00:00,977,333,235,262,2921,0,0

Ok, that looks a little better for now.  

As you can see, all the data are the same type of numeric value -- MWh.  

In these cases, sometimes it's natural to "stack" the data.  

We could do the stacking with a pandas command, `.stack`

## Indexing and slicing in Pandas

First let's figure out how to slice these data frames.

`.iloc` allows us to index and slice on **i**nteger row and column positions, like numpy:

In [24]:
caiso_df.iloc[1,1]

1182

But what's nice about `.iloc` is that you can also slice.  It works just like numpy.

### Q: Take a slice of the `caiso_data` dataframe that grabs the first four columns of data and the first 10 rows

In [27]:
caiso_df.iloc[0:10, :4]

         Date and time  GEOTHERMAL  BIOMASS  BIOGAS
0  2017-08-29 00:00:00        1181      340     156
1  2017-08-29 01:00:00        1182      338     156
2  2017-08-29 02:00:00        1183      337     156
3  2017-08-29 03:00:00        1185      339     156
4  2017-08-29 04:00:00        1190      344     156
5  2017-08-29 05:00:00        1194      351     157
6  2017-08-29 06:00:00        1196      359     155
7  2017-08-29 07:00:00        1194      363     153
8  2017-08-29 08:00:00        1187      364     153
9  2017-08-29 09:00:00        1189      367     157

### Q: What would you do if you wanted to get the *last* 10 rows?

In [29]:
caiso_df.iloc[-10:, :4]

            Date and time  GEOTHERMAL  BIOMASS  BIOGAS
8750  2018-08-28 14:00:00         933      338     240
8751  2018-08-28 15:00:00         933      338     238
8752  2018-08-28 16:00:00         934      337     239
8753  2018-08-28 17:00:00         934      336     235
8754  2018-08-28 18:00:00         955      337     237
8755  2018-08-28 19:00:00         962      332     236
8756  2018-08-28 20:00:00         967      336     234
8757  2018-08-28 21:00:00         972      336     233
8758  2018-08-28 22:00:00         975      333     234
8759  2018-08-28 23:00:00         977      333     235

### Q: Can you print out the last ten rows in reverse order?

In [30]:
caiso_df.iloc[:-10:-1,:4]

            Date and time  GEOTHERMAL  BIOMASS  BIOGAS
8759  2018-08-28 23:00:00         977      333     235
8758  2018-08-28 22:00:00         975      333     234
8757  2018-08-28 21:00:00         972      336     233
8756  2018-08-28 20:00:00         967      336     234
8755  2018-08-28 19:00:00         962      332     236
8754  2018-08-28 18:00:00         955      337     237
8753  2018-08-28 17:00:00         934      336     235
8752  2018-08-28 16:00:00         934      337     239
8751  2018-08-28 15:00:00         933      338     238

`.loc` is similar to `.iloc`, but it allows you to call the index and column names:

In [32]:
caiso_df.loc[0:5,'Date and time']

0    2017-08-29 00:00:00
1    2017-08-29 01:00:00
2    2017-08-29 02:00:00
3    2017-08-29 03:00:00
4    2017-08-29 04:00:00
5    2017-08-29 05:00:00
Name: Date and time, dtype: object

You can even slice with column names:

In [34]:
caiso_df.loc[0:5,'Date and time':'BIOGAS']

         Date and time  GEOTHERMAL  BIOMASS  BIOGAS
0  2017-08-29 00:00:00        1181      340     156
1  2017-08-29 01:00:00        1182      338     156
2  2017-08-29 02:00:00        1183      337     156
3  2017-08-29 03:00:00        1185      339     156
4  2017-08-29 04:00:00        1190      344     156
5  2017-08-29 05:00:00        1194      351     157

### Q: Is .loc end-inclusive or exclusive when you slice?
Ans: *inclusive*.  This is because it requires less knowledge about other rows in the DataFrame.

Note that this is true for both the index and the column names.

## Recap
* Pandas dataframes are sophisticated dicts of lists.
    * They have attributes like columns and index that have special meaning in the pandas context.
    * You can store any combination of data types in the dataframe
* You can access information in them as though they are dicts of lists
* But you can also use the .loc and .iloc methods to access information in a way similar to numpy, including clean slicing.