In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'key1':  ['a','a','b','b','a'],
                   'key2':  ['one','two','one','two','one'],
                   'data1': np.random.randn(5),
                   'data2': np.random.randn(5)})

In [4]:
df

  key1 key2     data1     data2
0    a  one -0.224532  0.368688
1    a  two -0.874637  1.636672
2    b  one -0.331664 -0.943871
3    b  two -0.844852 -0.826459
4    a  one -2.547717 -1.285304